@page
@model HotelCaini_web.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii camere</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Nume_category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Nume_category)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.ID">Editează</a> |
    <a asp-page="./Index">Înapoi la camere</a>
</div>
